# Ignore the hidden secret file
.env

# Ignore the virtual environment
venv/
__pycache__/

# Ignore the database (so your admin password doesn't go public)
*.db

# Ignore personal face images
dataset/*.jpg
!dataset/admin.jpg